<div class="flex items-center justify-center">
  <div class= "shadow-md rounded-md w-96">
    <div class="flex justify-center">
      <h2>Forgot your password?</h2>
    </div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="flex items-center justify-center">  
    <div class="flex flex-col items-center">  
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :email, class: 'font-bold text-x' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'rounded w-full mb-4' %>
      </div>

      <div class="flex items-center justify-center flex-col actions">
        <%= render "devise/shared/links" %>
        <%= f.submit "Send me reset password instructions",class: 'btn_log mb-5' %>
      </div>

    </div>
  </div>
<% end %>
