<nav class="bg-black h-28 w-screen flex flex-row">
  <div class="py-5 flex items-center">
    <%= image_tag("logo.png", class:"mx-4 my-0 h-4/5") %>
    <%= print_home_link %>

    <% if user_signed_in? %>
      <%= print_get_started_link %>
      <%= print_sign_out_button %>
    <% else %>
      <%= print_sign_in_link %>
    <% end %>
  </div>
</nav>
