<nav class="bg-slate-800 h-28 w-full flex flex-row">
  <div class="py-5 flex items-center">
    <%= image_tag("logo.png", class:"ml-6 mr-8 my-0 h-4/5") %>
    <%= print_home_link %>

    <% if user_signed_in? %>
      <%= print_get_started_link %>
      <%= print_sign_out_button %>
    <% else %>
      <%= print_sign_in_link %>
    <% end %>
  </div>
</nav>
