<nav class="sticky top-0 bg-slate-800 h-28 w-full flex flex-row">
  <div class="w-full py-5 pl-6 pr-9 flex items-center">
    <%= image_tag("logo.png", class:"mr-8 my-0 h-4/5") %>
    <%= print_home_link %>

    <% if user_signed_in? %>
      <%= print_get_started_link %>
      <%= print_edit_profile_link %>
      <%= print_sign_out_button %>

    <% else %>
      <%= print_sign_in_link %>
    <% end %>

    <div class="grow flex justify-end">
      <%= print_username %>
    </div>
  </div>
</nav>
