<div class="grid grid-flow-row gap-3 mb-5">
  <div><span class="font-bold	text-lg">Title:</span> <%= event.title%></div>
  <div><span class="font-bold	text-lg">Description:</span> <%= event.description %></div>
  <div><span class="font-bold	text-lg">Date:</span> <%= event.date %></div>
  <div><span class="font-bold	text-lg">Location:</span> <%= event.location %></div>
  <div><span class="font-bold	text-lg">Price: </span> $<%= event.price %></div>
  <div><span class="font-bold	text-lg">Public?:</span> <%= event.public ? 'Yes' : 'No' %></div>
  <%= event_image event if event.image_is_saved_and_exists? %>
</div>
