<div>
  <div style="margin-bottom: 5px"><b>Event title:</b> <%= event.title %></div>
  <div style="margin-bottom: 5px"><b>Event description:</b> <%= event.description %></div>
  <div style="margin-bottom: 5px"><b>Event date:</b> <%= event.date %></div>
  <div style="margin-bottom: 5px"><b>Event location:</b> <%= event.location %></div>
  <div style="margin-bottom: 15px"><b>Event price:</b> <%= event.price %></div>
</div>
