<div class="grid grid-flow-row gap-3">
  <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div class="relative flex bg-clip-border rounded-xl bg-white text-gray-700 shadow-md w-full max-w-[48rem] flex-row">
      <div
        class="relative w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
        <%= default_event_image event, 'object-cover w-full h-full' if event.image_is_saved_and_exists? %>
      </div>
       <div class="p-6">
        <div class="flex justify-between">
          <div>
            <h6
              class="font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-gray-700 uppercase">
              🧑🏻 <%= event.user.username %>
            </h6>
          </div>
          <div>
            <h6
              class="font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-gray-700 uppercase">
              🌎 <%= event.location %>
            </h6>
          </div>    
        </div>
        <div>
          <h4 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            <%= event.title %>
          </h4>
          <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            <%= event.description %>
          </p>
          <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            📅 <%= event.date%>
          </p>
          <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            🔔 </span> <%= event.format_notification_datetime %>
          </p>
          <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            💲</span> <%= event.price%>
          </p>
      </div>
    </div>
  </div>  
</div>
