<div class= "grid grid-flow-row gap-3 mb-5">
  <div><span class="font-bold	text-lg">Event title:</span> <%= event.title%></div>
  <div><span class="font-bold	text-lg">Event description:</span> <%= event.description %></div>
  <div><span class="font-bold	text-lg">Event date:</span> <%= event.date %></div>
  <div><span class="font-bold	text-lg">Event location:</span> <%= event.location %></div>
  <div><span class="font-bold	text-lg">Event price:</span> <%= event.price %></div>
  <%= event_image event if event.image_is_saved_and_exists? %>
</div>
