<div class= "grid grid-flow-row gap-3">
  <div><b class="b">Event title:</b> <%= event.title%></div>
  <div><b class="b">Event description:</b> <%= event.description %></div>
  <div><b class="b">Event date:</b> <%= event.date %></div>
  <div><b class="b">Event location:</b> <%= event.location %></div>
  <div><b class="b">Event price:</b> <%= event.price %></div>
</div>
