<div>
  <div><b>Event title:</b> <%= event.title %></div>
  <div><b>Event description:</b> <%= event.description %></div>
  <div><b>Event date:</b> <%= event.date %></div>
  <div><b>Event location:</b> <%= event.location %></div>
  <div><b>Event price:</b> <%= event.price %></div>
</div>
