
<%= form_with model: event do |form| %> 
  <% if form.object.errors.any? %>
    <div class="mb-2">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="mb-2">
    <%= form.label :title, 'Title', class: 'block b' %>
    <%= form.text_field :title, class: 'field'%>
  </div>

  <div>
    <%= form.label :description, 'Description', class: 'block b' %>
    <%= form.text_area :description, class: 'field' %> 
  </div>

  <div class="mb-2">
    <%= form.label :date, 'Date', class: 'block b' %>
    <%= form.text_field :date, data: {controller: "datepicker"}, class: 'field' %>
  </div>

  <div class="mb-2">
    <%= form.label :notification_datetime, 'Notification date', class: 'block b' %>
    <%= form.text_field :notification_datetime, data: {controller: "datetimepicker"}, class: 'field' %>
  </div>

  <div class="mb-2">
    <%= form.label :location, 'Location', class: 'block b' %>
    <%= form.text_field :location, class: 'field' %> 
  </div>

  <div class="mb-2">
    <%= form.label :price, 'Price', class: 'block b' %>
    <%= form.number_field :price, step: 0.01, class: 'field' %>
  </div>

  <div class="mb-2 flex items-center">
    <%= form.check_box :public %>
    <%= form.label :public, 'Event Public?', class: 'ml-1 font-semibold' %>
  </div>

  <div class="mb-2">
    <%= form.label :image, 'Image', class: 'block b' %>
    <%= image_file_field form %>

    <% if event.image_is_saved_and_exists? %>
      <%= preview_event_image event, 'mt-2 mb-1' %>
      <%= delete_image_option event %>
    <% end %>
  </div>

  <div class="flex">
    <div><%= form.submit class: 'btn-2 mb-3' %></div>
    <div><%= link_to 'Back', event, class: 'btn-3 ml-3 py-1 no-underline' %></div>
  </div>
<% end %>
