<h2 class="break-all mt-0 mb-4">Filtering params</h2>
<%= form_with url: events_path, method: :get do |form| %>
  <div class='mb-5'>
    <%= form.text_field :dates_range, value: params[:dates_range], 
                        data: {controller: "daterangepicker"}, class: 'w-full max-w-[250px] rounded px-3 py-2 mb-0' %>
    
    <div class="flex items-center justify-center mt-4">
      <%= form.check_box :date_filter, { checked: ActiveModel::Type::Boolean.new.cast(params[:date_filter]), include_hidden: false }, 
                         'true', 'false' %>
      <%= form.label :date_filter, 'Filter with dates range', class: 'ml-2 text-start font-semibold' %>
    </div>

    <div class="flex items-center justify-center mt-1">
      <%= form.check_box :privates, { checked: ActiveModel::Type::Boolean.new.cast(params[:privates]), include_hidden: false }, 
                         'true', 'false' %>
      <%= form.label :privates, 'Only private events', class: 'ml-2 text-start font-semibold' %>
    </div>
  </div>

  <div class='flex flex-col items-center justify-center min-[250px]:flex-row'>
    <%= form.submit 'Search', class: 'btn-2 mt-0 mb-3 min-[250px]:mb-0' %>
    <%= link_to 'Clear', events_path, class: 'btn-3 my-0 min-[250px]:ml-3 no-underline' %>
  </div>
<% end %>
