<h1 class="text-center break-all mb-8">Events lists</h1>

<div class ="shadow-[0_3px_10px_rgb(0,0,0,0.2)] text-center max-w-[470px] mx-auto p-7 rounded-lg">
  <h2 class="break-all mt-0 mb-4">Options</h2>

  <div class="flex flex-col items-center min-[448px]:flex-row justify-center mb-10">
    <%= link_to "Download as CSV", export_events_events_path(format: :csv, dates_range: params[:dates_range],
    date_filter: params[:date_filter], privates: params[:privates]),
    class: 'btn-1 mt-0 mb-3 min-[448px]:mb-0 no-underline' %>
    <%= link_to "Create new event", new_event_path, class: 'btn-4 min-[448px]:ml-3' %>
  </div>
  
  <%= render "search_filter_form" %>
</div>

<% if @events.count > 0 %>
  <div class="mt-10 columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 [&>div:not(:first-child)]:mt-8"> 
    <% @events.each_with_index do |event, index| %>
      <div class="break-inside-avoid flex justify-center items-center">
        <div class="w-fit p-7 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] text-center">
          <h2 class="mt-0 mb-3"><%= event.title.capitalize %></h2>
          <h4 class="font-bold mb-2">By <%= event.user.username %></h4>
          <h4 class="font-bold mb-2">In <%= event.location %></h4>
          <h4 class="font-bold mb-3">Planned for <%= event.date %></h4>

          <div class="flex justify-center">
            <%= preview_event_image event %>
          </div>
          <%= link_to 'Show event details', event_path(event), class: 'inline-block mt-2 mb-0 btn-2 no-underline' %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="mt-6"><%== pagy_nav(@pagy) %></div>
  <% end %>
<% else %>
  <h2 class="mt-10 mb-0 text-center">No events found</h2>
<% end %>
