<div class="flex items-center justify-center">
  <div class= "shadow-md rounded-md w-96">
    <div class="flex justify-center">
      <h2>Log in</h2>
    </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    
        <div class="mb-4">
          <%= f.label :email ,class: 'font-bold text-x'%>
          <%= f.email_field :email, autofocus: true, class: 'rounded w-full mb-4 ' ,autocomplete: "email" %>
        </div>
        

        <div class="mb-4 text-left">
          <%= f.label :password ,class: 'font-bold text-x mb-2' %>
          <%= f.password_field :password, class: 'rounded w-full mb-4', autocomplete: "current-password" %>
        </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="mb-4" >
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me , class: 'font-bold text-x '%>
        </div>
      <% end %>
      <div class="flex items-center justify-center flex-col actions">
      <%= render "devise/shared/links" %>
      
        <%= f.submit "Log in" , class: 'btn_log' %>
      </div>

    </div>
  </div>
<% end %>
