<!DOCTYPE html>
<html>
  <head>
    <title>S5A1-Events Manager-Team01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose min-h-dvh min-w-full flex flex-col">
    <%= render 'shared/navbar' %>
    <div class="flex-grow p-10">
      <% flash.each do |name, msg| %>
        <div class="flex justify-center">
          <div class="p-4 text-lg text-blue-800 rounded-lg w-full sm:w-2/3 mb-6
                      bg-blue-50 dark:bg-gray-800 dark:text-blue-400 text-center" role="alert">
            <%= content_tag(:span, msg, class: "font-semibold") %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
