<!DOCTYPE html>
<html>
  <head>
    <title>S5a1AdministradorDeEventosTeam01S5a1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose">

    <nav class="bg-black h-28 w-screen flex flex-row ">
      <div class="mx-4 py-5">
        <%= image_tag("logo.png", class:"my-0 h-4/5") %>
      </div>
      <div class="mx-4 py-5">
        <button class="bg-black rounded py-5 px-2 text-white font-bold">GetStarted</button>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
